[submodule "src/main/java/frc/robot/vision"]
	path = src/main/java/frc/robot/vision
	url = https://github.com/S1ink/VisionServer-Robot/

[submodule "src/main/java/frc/robot/team3407"]
	path = src/main/java/frc/robot/team3407
	url = https://github.com/S1ink/FRC-Java-Modules/